.venv/
venv/
env/
ENV/
f1_bmw_env/
virtual_envirmonment/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

f1_cache/
.fastf1/
*.cache 

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

.ipynb_checkpoints/
*.ipynb 

build/
dist/
*.egg-info/
*.egg/

*.log
.pytest_cache/
.coverage

.env
.env.local

build/
out/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CMakeConfigureLog.yaml

tetris_main
*.out
*.bin
*.exe

.clangd

compile_commands.json
