# fast data api
fastf1 >= 3.0.0

# terminal UI & visualization packages

rich >= 13.0.0
textual >= 0.50.0
simple-term-menu >= 1.6.0
asciimatics >= 1.14.0
art >= 6.0

# data processing 
pandas >= 2.0.0
numpy >= 1.24.0
matplotlib >= 3.7.0

# other packages
plotly >= 5.18.0
requests >= 2.31.0